.border{
    border: 2px solid rgba(222, 5, 5, 0.838);
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.bg-black{
    background-color: black;
    color:#b5b5b5;
}

.bg-grey{
    background-color: #121212;
}
.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin-bottom:5px;
}

.p-1{
    padding: 10px;
}



::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2c2c2c; /* Background color of the track (scrollbar background) */
    border-radius: 10px; /* Rounded corners of the track */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Color of the draggable part of the scrollbar */
    border-radius: 10px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #888; /* Color when the user hovers over the scrollbar */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Make the scrollbar thin */
    scrollbar-color: #555 #2c2c2c; /* Thumb color and track color */
}

/* #b5b5b5 text coloe code*/ 